@model IEnumerable<DTO.Order>

@{
    ViewData["Title"] = "Details";
    IEnumerable<DTO.Delivery_staff> staffs = ViewData["AllStaffs"] as IEnumerable<DTO.Delivery_staff>;
    IEnumerable<DTO.Dish> dishes = ViewData["AllDishes"] as IEnumerable<DTO.Dish>;
    IEnumerable<DTO.Order_dishes> order_Dishes = ViewData["AllOrderDishes"] as IEnumerable<DTO.Order_dishes>;
    IEnumerable<DTO.Restaurant> restaurants = ViewData["AllRestaurants"] as IEnumerable<DTO.Restaurant>;
}

<h2>Hello @ViewBag.login</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Created at
                </th>
                <th>
                    Delivery time
                </th>
                <th>
                    Deliverer in charge
                </th>
                <th>
                    Restaurant
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                int hour = 0;
                int minute = 0;
                DateTime mtn = DateTime.Now;
                int minutesNow = mtn.Hour * 60 + mtn.Minute;
                int minutesDelivery_time = 0;
                string name = "";
                string restaurantName = "";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_at)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.delivery_time)
                    
                </td>
                <td>
                    @foreach (var staff in staffs)
                    {
                        if (item.delivery_staff_Id == staff.delivery_staff_Id)
                        {
                            name = staff.first_name + " " + staff.last_name;
                        }

                    }
                    @name
                    
                </td>
                <td>
                    @foreach (var od in order_Dishes)
                    {
                        if (item.order_Id == od.order_Id)
                        {
                            foreach (var dish in dishes)
                            {
                                if (dish.dish_Id == od.dish_Id)
                                {
                                    foreach (var resto in restaurants)
                                    {
                                        if (dish.restaurant_Id == resto.restaurant_Id)
                                        {
                                            restaurantName = resto.name;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    @restaurantName
                </td>
                <td>
                    @{
                        
                        hour = Int32.Parse(item.delivery_time.Substring(0, 2));
                        minute = Int32.Parse(item.delivery_time.Substring(3, 2));
                        minutesDelivery_time = hour * 60 + minute;
                    }
                    @Html.ActionLink("Afficher les plats de votre commande", "DishesInOrder", new { id = item.order_Id }) |
                    @if (minutesDelivery_time - minutesNow >= 300 || minutesDelivery_time<minutesNow)
                    {
                        @Html.ActionLink("Cancel order", "CancelOrder", new { id = item.order_Id })
                    }
                </td>
             
            </tr>

            }
        </tbody>
    </table>

<a href="@Url.Action("CustomerTransition", "Customer")" class="btn btn-default">Logout</a>
<a href="@Url.Action("Index", "Home")" class="btn btn-default">Back to home page</a>