@model IEnumerable<DTO.Order>

@{
    ViewData["Title"] = "Details";
}

<h2>Hello @ViewBag.login</h2>

    <table class="table">
        <thead>
            <tr>

                <th>
                    Status
                </th>
                <th>
                    Created at
                </th>
                <th>
                    Delivery time
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.created_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.delivery_time)
                    </td>

                </tr>
            }
        </tbody>
    </table>

<a href="@Url.Action("CustomerTransition", "Customer")" class="btn btn-default">Logout</a>
<a href="@Url.Action("Index", "Home")" class="btn btn-default">Back to home page</a>