@model IEnumerable<DTO.Dish>

@{
    ViewData["Title"] = "Plat";
}

<h2>Plats</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dish_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.restaurant_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dish_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.restaurant_Id)
                </td>
                <td>
                   
                    <!--Compteur de plat OOF-->

                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index">Back to List</a>
