@model IEnumerable<DTO.Order>

@{
    ViewData["Title"] = "Details";
    IEnumerable<DTO.Customer> customers = ViewData["Customers"] as IEnumerable<DTO.Customer>;
}

<h2>Details</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order number
            </th>
            <th >
                Status
            </th>
            <th>
                Total price
            </th>
            <th>
                Created at
            </th>
            <th>
                Delivery time
            </th>
            <th>
                Customer's name
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    string name = "";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.delivery_time)
            </td>
            <td>
                @foreach(var customer in customers)
                {
                    if(item.customer_Id == customer.customer_Id)
                    {
                        name = customer.last_name;
                    }
                }
                @name
            </td>
            
            <td>
                @Html.ActionLink("Order delivered", "Delivered", new { id = item.order_Id })
            </td>
        </tr>
}
    </tbody>
</table>
