@model IEnumerable<DTO.Order_dishes>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.order_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dish_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.delivery_staff_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dish_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.delivery_staff_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
   
            </td>
        </tr>
}
    </tbody>
</table>
