@model IEnumerable<DTO.Order>

@{
    ViewData["Title"] = "Details";
    IEnumerable<DTO.Customer> customers = ViewData["Customers"] as IEnumerable<DTO.Customer>;
    IEnumerable<DTO.City> cities = ViewData["City"] as IEnumerable<DTO.City>;
}

<h2>Details</h2>

<h2>Hello @ViewBag.nameDL</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Order number
            </th>
            <th >
                Status
            </th>
            <th>
                Total price
            </th>
            <th>
                Created at
            </th>
            <th>
                Delivery time
            </th>
            <th>
                Address
            </th>
            <th>
                Zipcode
            </th>
            <th>
                Ville
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    string citystring = "";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.delivery_time)
            </td>
            <td>
                @ViewBag.adresse
            </td>
            <td>
                @ViewBag.zipCode
            </td>
            <td>
                @foreach (var city in cities)
                {
                    if (@ViewBag.zipCode == city.cityCode)
                    {
                        citystring = city.name;
                    }
                }
                @citystring
            </td>
            
            <td>
                @Html.ActionLink("Order delivered", "Delivered", new { id = item.order_Id })
            </td>
        </tr>
}
    </tbody>
</table>
