@model IEnumerable<DTO.Order>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.order_Id)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.delivery_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer_Id)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.delivery_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer_Id)
            </td>
            
            <td>
                @Html.ActionLink("Order delivered", "Delivered", new { id = item.order_Id })
            </td>
        </tr>
}
    </tbody>
</table>
