@model IEnumerable<DTO.Order>

@{
    ViewData["Title"] = "Details";
    IEnumerable<DTO.Customer> customers = ViewData["Customers"] as IEnumerable<DTO.Customer>;
    IEnumerable<DTO.City> cities = ViewData["City"] as IEnumerable<DTO.City>;
}

<h2>Details</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order number
            </th>
            <th >
                Status
            </th>
            <th>
                Total price
            </th>
            <th>
                Created at
            </th>
            <th>
                Delivery time
            </th>
            <th>
                Delivery address
            </th>
        
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    string fullAddress = "";
    string address = "";
    string cityName = "";
    string cityNPA = "";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.delivery_time)
            </td>
            <td>
                @foreach(var cust in customers)
                {
                    if (cust.customer_Id == item.customer_Id)
                    {
                        address = cust.address;
                        foreach(var city in cities)
                        {
                            if(cust.cityCode == city.cityCode)
                            {
                                cityName = city.name;
                                cityNPA = city.cityCode.ToString();
                                fullAddress = address + " " + cityNPA + " " + cityName;
                            }
                        }
                    }

                }

                @fullAddress
            </td>
            
            <td>
                @Html.ActionLink("Order delivered", "Delivered", new { id = item.order_Id })
            </td>
        </tr>
}
    </tbody>
</table>
